.build/
*.xcframework
*.xcframework.zip

.vscode
.DS_Store

__pycache__/
*.pyc
.venv/
env/

*.so
*.dylib
python/sia_storage/sia_storage/

.gradle/
*.class
kotlin/src/main/kotlin/sia/indexd/sia_storage_ffi.kt

build/
target/
